.container {
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.header {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header__photo {
	max-width: 200px;
	height: auto;
}

.header__photo img {
	width: 100%;
}

li,
p,
span {
	font-size: 20px;
}

p,
span {
	margin-left: 20px;
}

li {
	margin-top: 10px;
}

.summary__text {
	max-width: 800px;
}

.volga-it {
	display: flex;
}
.volga-it__links {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.volga-it__link {
	font-size: 20px;
	margin-bottom: 5px;
}

.volga-it__text {
	display: flex;
	align-items: center;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-size: 20px;
}
.logo {
	display: block;
	width: 180px;
	margin-bottom: 5px;
}
.github-link {
	margin-right: 10px;
}
